*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  
}
html,body{
  height: 100%;
  width: 100%;
}
.parent{
  min-height: 100;
  width: 100;
  background-color: #111;
  padding: 30px;
  display: flex;
  gap:30px;
  flex-wrap: wrap;
}
.card{
  height: 330px;
  width: 280px;
  background-color: #fff;
  border-radius: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.card .top{
  display: flex ;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 30px;

}

.top img{
  height: 40px;
  width: 40px ;
  border-radius: 50%;
  border: 1px solid #dadada;
}
.top button{
  display: flex;
  align-items: center;
  border:1px solid #dadada;
  padding: 4px 8px;
  font-size: 10px;
  border-radius: 5px;
  gap: 2px;
  background-color: transparent;
  color: #b1b1b1;
}
.center{
  
}
.center h3{
  font-size: 18px;
  font-weight: 500;


}
.center h3 span{
  font-size:10px ;
  font-weight:400 ;
  color:#8b8b8b ;
}
.center h2{
  font-size: 20px;
  font-weight: 600;
}
.center .tag{
  display: flex;
  margin-top: 10px;
  gap :5px;

}
.center .tag h4{
  font-size: 10px;
  background-color: #dadada;
  color: #111;
  padding: 4px 8px;
  font-weight: 500;
  border-radius: 3px;
}
.bottom{
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-top: 1.5px solid #d7d7d7;
  padding-top: 15px;

}
.bottom button{
  background-color: black;
  color: white;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
  column-width: 600;

}
.bottom h3{
  font-size: 17px;

}
.bottom p{
  font-size: 12px;
  color: #8b8b8b;
}

